.container {
    width: 100%;
    padding: 20px 70px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000;
}

.form input{
    width: 60%;
    margin: 5px auto
}

.form textarea{
    font-family: inherit;
    width: 60%;
    margin: 5px auto;
    resize: none;

}

.form button{
    width: 60%;
    margin: 15px auto 5px
}

.form .formTitle{
    width: fit-content;
    margin: 10px auto;
}

.form .note{
    font-size: 15px;
    width: fit-content;
    margin: 10px auto;
    white-space: pre-line;
    text-align: center;
}

