.container {
    width: 100%;
    padding: 20px 70px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000;
    position: relative;
}

.form input{
    width: 60%;
    margin: 5px auto
}

.form textarea{
    font-family: inherit;
    font-weight: inherit;
    
    width: 60%;
    margin: 5px auto;
    resize: none;

}

.form button{
    width: 60%;
    margin: 15px auto 5px
}

.form .formTitle{
    width: fit-content;
    margin: 10px auto;
}

.form .note{
    font-size: 15px;
    width: fit-content;
    margin: 10px auto;
    white-space: pre-line;
    text-align: center;
}

.form .added{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .added .title{
    color: #007308;
    font-size: 35px;
}

.form .added .buttonAdd{
    width: fit-content;
    cursor: pointer;
}

.form .added .titleErr{
    color: #730000;
    font-size: 35px;
}
