.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 70px;
    background-color: #858585;
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    height: 70px;
}

.navbar a{
    text-decoration: none;
    color: white;
}