.container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form{
    min-width: 350px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    font-family: inherit;
    border: 1px solid #000;
    border-radius: 10px;
}

.form .group{
    margin: 10px auto
}

.form .group .label{
    min-width: 100px;
    font-size: 18px;
}

.form .group input,
.form .group textarea{
    min-width: 270px;
    font-family: inherit;
    font-size: 18px;
}


.form .group textarea{
    resize: none
}

.form button{
    margin: 0 auto 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form button:hover{
    transform: scale(1.05);
}

.about{
    width: calc(100% - 450px);
}

.status{
    min-width: 10px;
    min-height: 10px;
    margin: 5px auto 15px;
}

.status .applied{
    color: green
}

.status .error{
    color: red
}