.formContainer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000

}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
    border: 1px solid #000
}

.form input{
    width: 200px;
    margin: 5px
}

.form textarea{
    font-family: inherit;
    width: 200px;
    margin: 5px;
    resize: none;

}

.form button{
    width: 60%;
    margin: 15px auto 5px
}

.form .formTitle{
    width: fit-content;
    margin: 10px auto;
}

.form .note{
    font-size: 15px;
    width: fit-content;
    margin: 10px auto;
    white-space: pre-line;
    text-align: center;
}

.goBack{
    width: fit-content;
    margin: 10px auto
}

.form .group{
    display: flex;
}

.form .group .label{
    min-width: 100px;
    display: flex;
    align-items: center;
}

