.footer{
     margin-top: 30px;
}
.socialMedia{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.socialMedia a{
    height: 35px;
    transition: all 0.3s ease;

}
.socialMedia a:hover{
    transform: scale(1.2);
}

.socialMedia .iconWrapper{
    width: 35px;
    height: 35px;
    border: 1px solid #575757;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.copyright{
    width: 100%;
    text-align: center;
    margin: 20px 0 10px
}

