.projects {
    width: 100%;
    padding: 20px 70px 50px;
}
.projects .line{
    min-width: 400px;
    width: 50%;
    border-top: 2px solid #8b8b8b;
}

.projects .header{
    text-transform: uppercase;
}
 
.projects .header ul {
    padding: 5px 15px;
}

.projectCards{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px 50px;
}

.projectCards :nth-child(odd) {
 align-self: start;
  }
  
.projectCards :nth-child(even) {
    align-self: end;

}


@media screen and (max-width:1100px) {
    .projectCards{

        grid-template-columns: repeat(1, 1fr);
    }
}